body {
    background-attachment: fixed; /* Esta propiedad hace que el fondo sea estático */
    background-size: cover;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    color: white;
  }



  header {
    background-color: #ffffff;
    color: #fff;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    top: 0;
    z-index: 1000;
    margin-bottom: 50px;

  }
 



  
  .mesas-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Ajusta el número de columnas */
    gap: 20px;
    max-width: 800px; /* Ajusta el ancho del contenedor */
    margin: 0 auto;
  }
  
  .mesa {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .contenedor-img {
    width: 100px; /* Ajusta el ancho de la imagen */
    height: 100px; /* Ajusta el alto de la imagen */
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .contenedor-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }


  .numero-mesa{
    background-color: #FFA07A; /* Fondo naranja */
    color: #000; /* Texto negro */
    padding: 10px;
    text-align: center;
    width: 100%;
    margin: 0 -20px; /* Resta el padding del padre para que se extienda */


  }





  .menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #333;
    color: #fff;
  }
  
  .navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  .navbar li {
    margin-right: 20px;
  }
  
  .navbar a {
    color: #fff;
    text-decoration: none;
  }
  
  .usuario {
    display: flex;
    align-items: center;
  }
  
  .usuario img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
  }